# PIP requirements for devcontainer
flake8
pytest
pytest-cov
jsonschema

# dependencies from the main requirements.txt
# -- added automatically by devcontainer_gen.sh

robotframework<7
black
robotframework-robotmk-bridge==0.1.1
PyYAML>=6.0